<header class="">
    <nav class="transparent z-depth-0" role="navigation">
      <div class="nav-wrapper nav-bg">
        <a id="logo-container" href="#/" class="brand-logo hide-on-med-and-down"><img class="responsive-img border-top-vsmall padding-left-vsmall" src="images/logo/philos_logo-m.png"></a>
        <a id="logo-container" href="#/" class="brand-logo hide-on-large-only"><img class="responsive-img border-top-vsmall padding-left-vsmall" src="images/logo/philos_logo-s.png"></a>
      </div>
    </nav>
</header>