<section class="padding-top-small">
  <div class="container ">
    <div class="row ">
      <div class="col s12 left">
        <h4>Apply to the 1-week bootcamp</h4>
      </div>
    </div>
    <div class="row no-margin-bottom">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
          <p>Welcome to the admission process of the 1-week bootcamp. We’re glad to know that you want to learn how to exploit the full potential of JavaScript and AngularJS. As stated, this bootcamp is for developers who master at least one programming language other than JavaScript (C#, Java Go, Python, PHP …).<br/>
          From application to decision, the whole process might take up to 2 weeks. So the earlier you apply, the better.
          <br/>
          You can find more information about the program <a href="https://philos.io/program">on our website</a>.
          </p>
          <br/>
          <p class="uppercase text-normal-plus bold-4">Steps for the admission process</p>
          <ol>
            <li><span class="bold-4">Registration:</span> You submit your application. </li>
            <li><span class="bold-4">In person Interview:</span> Once your application submitted, we will come back to you to set up an In person interview (skype/hangout/appearin, …). <br/>
            During the interview, we will assess your level which will in turn help us to determine if you’re eligible for the bootcamp and if your skills matches those of the other participants.</li>
            <li><span class="bold-4">Decision:</span> We deliver an admission decision to you, and talk about next-steps.</li>
          </ol>
          <br/>
          <div class="center">
            <button class="btn" data-ng-click="vm.navigateTo('register')">Continue <i class="fa fa-angle-right"></i></button>
          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>