<section class="padding-top-small">
  <div class="container ">
    <div class="row ">
      <div class="col s12 left">
        <h4>Apply to the 1-week bootcamp</h4>
      </div>
    </div>
    <div class="row no-margin-bottom">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
          <p>Welcome to the admission process of the 1-week bootcamp. We’re glad to know that you want to learn how to exploit the full potential of JavaScript and AngularJS. As stated, this bootcamp is for developers who master at least one programming language other than JavaScript (C#, Java Go, Python, PHP …).<br/>
          From application to decision, the whole process might take up to 1 week. So the earlier you apply, the better.
          <br/>
          You can find more information about the program <a href="https://www.philos.io/program">on our website</a>.
          </p>
          <br/>
          <p class="uppercase text-normal-plus bold-4">Steps for the admission process</p>
          <ol>
            <li><span class="bold-4">In person Interview:</span> Schedule an interview via calendly by following the link below. Mention the session you apply for and you will hear from us very soon.
            The goal of this interview is to make sure that you have what it takes to survive our intensive bootcamp!</li>
            <li><span class="bold-4">Decision:</span> We deliver an admission decision to you, and talk about next-steps.</li>
          </ol>
          <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="paddidata-top-small">
  <div class="container register">
    <form class="col s12" name="registration">
      <div class="row">
        <label for="">Upcoming sessions</label>
        <p>
        <input name="session" type="radio" id="brussels" value="2nd - 07th May 2016" data-ng-model="vm.session"/>
        <label for="brussels">2nd - 07th May 2016 - Brussels</label>
        </p>
        <p>
        <input name="session" type="radio" id="amsterdam" value="13th - 18th May" data-ng-model="vm.session"/>
        <label for="amsterdam">13th - 18th June 2016 - Amsterdam</label>
        </p>
      </div>
      <div class="row">
        <a href="https://calendly.com/davy/interview_bootcamp" class="waves-effect waves-light btn">Schedule an interview</a>
      </div>
    </form>
  </div>
</section>
